body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.logo{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}
.logo-span{
    color: #2e2f42;
}
.navigation{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.studio-link{
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address{
    font-style: normal;
    
}
.adress-mail{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-mail:focus{
    color: #404bbf;
}
.header-gap {
    display: flex;
}

.page-header-ul {
    display: flex;
    gap: 40px;
    padding: 24px 0;

}

.header-address-ul {
    display: flex;
    gap: 40px;
    padding-left: 0;

}

.page-header {
    height: 72px;
    border-bottom: 1px solid #e7e9fc
}

.page-header .container-header {
    display: flex;
}
/* section 1 */
.title {
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    padding: 188px 0
}
.title-section{
    display: block;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
        text-align: center;
        letter-spacing: 0.02em;
        margin-left: auto;
        margin-right: auto;
}
        
.title-button{
    display: block;
    min-width: 169px;
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    margin-top: 48px ;
    border: none;
    height: 56px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.title-button:hover{
    background-color: #404BBF;
}
.title-button:focus{
    background-color: #404BBF;
}
/* section 1 */
.section-one{
padding: 120px 0;

}
.section-one-ul {
    display: flex;
    gap: 24px;
    padding-left: 0;
}
.section-one-li{
width: calc((100% - 72px) / 4);

}
/* section 2 */
.section-two{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-two-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* section 3 */
.section-three{
background-color: #F4F4FD;
padding: 120px 0;
}
.title-section-three{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-three-list{
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    padding-left: 0;
    
}
.container-name{
    padding: 32px 0;
}
.section-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.section-profession{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.title-section-four{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-four{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four-h{
    font-weight: 500;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    margin-bottom: 8px;
}
.four-li{
border: 1px solid #e7e9fc;
border-top: none;
    padding: 32px 16px;
    
}
.section-four-ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-left: 0;
}
.section-four-li{
width: calc((100% - 48px) / 3);

}
.section-four-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
a{
    color: #2E2F42;
    text-decoration: none;
}
a:hover{
    color: #404BBF;

}
a:focus{
    color: #404bbf;
}
ul{
    list-style-type: none;
}
.foot{
    background-color: #2e2f42;
    height: 312px;
    padding: 100px 0;
}
.logo-span-foot{
    color: #F4F4FD;
}
.logo-foot{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.foot-p{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

h1,h2,h3,h4,h5,h6,p,ul{

    margin: 0;
}
img{
    display:block;
}


.container{
    
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
  
}

.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}


